<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee 
         https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
	version="5.0">

	<display-name>RestaurantDashboard</display-name>

	<welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>DashboardServlet</servlet-name>
		<servlet-class>com.dashboard.servlet.DashboardServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DashboardServlet</servlet-name>
		<url-pattern>/dashboard</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>FeedbackServlet</servlet-name>
		<servlet-class>com.dashboard.servlet.FeedbackServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>FeedbackServlet</servlet-name>
		<url-pattern>/feedback</url-pattern>
	</servlet-mapping>
	
	
</web-app>